body {
    margin: 0;
}


section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

}

img {
    width: 100%;
}

html {
    background-color: white;
}



footer {
    background-color: snow;
    max-width: 100%;
    text-align: center;
    height: 100px;
}

footer p {
    color: pink;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;


}


/****************************  Menu  ****************************/

/*navigation*/

header nav a:link {
    color: pink;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

/* visited link */

header nav a:visited {
    color: #ffc0cb;
}

/* Hover */
header nav a:hover {
    color: pink;
}

/* selected link */
header nav a:active {
    color: black;
}

header {
    background: snow;
    width: 100%;
    height: 100px;
    top: 0vw;
}

header nav {
    margin: 1rem 1.5rem;
    padding-top: 0.5rem;
    display: inline-block;
    color: snow;
    width: 100%;


}

header nav a {
    font-size: 2rem;
    color: black;
    font-family: 'oswald', sans-serif;
    margin: 0.25rem 0;
    padding: 0.25rem 0;
    text-decoration: none;
    align-items: flex-end;
    top: 0vw;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    padding: 0;

}

#menuknap {
    display: inline-block;
    font-size: 2.5rem;
    top: 1vw;
    color: pink;
}

/*navigation slut*/

/*BURGER MENU*/


.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}


#menu {
    list-style-type: none;
    transition: transform .3s;
    font-family: sans-serif;


}

#menu a {
    display: block;
    /*THIS MAKES THE MENU VERTICAL*/
}


@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}


@media only screen and (min-width: 760px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li a {
        display: inline-block;
    }
}

/****DROPDOWN KNAP***/

/* DROP DOWN BOTTON KNAPPEN styling */
.dropbtn {
    color: pink;
    background-color: snow;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* LINK I DROPDOWN */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* FARVEN PÅ LINKS NÅR MAN HOVER PÅ DEM I DROPDOWN MENUEN */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* DET HER GØR AT LISTEN KOMMER UD AF KNAPPEN*/
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: snow;
}

/****************************  SLUT Menu  ****************************/

/*******FORIDE******/

/*Illustraiton*/

#splash {
    background-image: url(billeder/splash.svg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-width: none;
    background-position: 27%;
}



/******PORTFOLIO*******/


.pink_box {
    flex-basis: 1000px;
    flex-grow: 1;
    background: pink;



}

.pink_box h3 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 45px;
    padding: 5px;
}

/***BILLEDE MED TEKST***/


#portfolio .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 300px;
}


.box {
    flex-basis: 450px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(246, 201, 255, 0.6);
    padding: 10px;
    margin: 0.5rem;
    position: relative;
}

.lastbox {
    opacity: 0;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(245, 201, 255, 0.61);
}


.box:hover .overlay {
    opacity: 1;
}

.text {
    font-family: sans-serif;
    position: absolute;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/*******CV ELLER OM MIG SIDE******/

#cv img {
    /*    width: 70%;*/
}



#cv .box1 {
    flex-basis: 100px;
    flex-grow: 1;
    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 192, 203, 0.4), 0 6px 20px 0 rgba(255, 192, 203, 0.58);


}

#cv .box2 {
    background-color: rgba(255, 192, 203, 0.26);
    flex-basis: 300px;
    flex-grow: 3;
    margin: 10px;


}

.linje1 {
    display: flex;
    margin: 10px;
}

.linje1 img {
    width: 2vw;
    height: 2vw;
    margin: 2px;
    flex-grow: 0;
    margin-left: 0.5em;

}

.linje1 p {
    font-weight: bold;
    font-size: 1rem;
    color: pink;
    margin: 0 0 0 0.6em;

    flex-grow: 1;

}
