body {
    margin: 0;
}


section {
    max-width: 1200px;
    margin: 0 auto;
    /*    display: flex;*/

}

section #cv {
    display: flex;
}


section #portfolio {
    display: flex;
}


html {
    background-color: white;
}



footer {
    background-color: rgba(246, 201, 255, 0.56);
    max-width: 100%;
    text-align: center;
    height: 100px;
}

footer p {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin: 0 1 0 0em;
    padding: 10px;
    color: dimgrey;




}

/*BOKSE - fælles indstillinger*/

.pink_box {
    margin: 2em;
    margin-left: 0vw;
    margin-right: 0vw;
    background: rgba(201, 208, 255, 0.59);
}

/*FORSKELLIGE SKRIFTER - fælles indstillinger*/


h1 {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 2rem;
    text-align: center;
    margin-top: 45px;
    padding: 5px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: rgba(221, 116, 242, 0.55);
    font-size: 2rem;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    color: #f6c9ff;
    font-size: 2rem;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
}

h4 {
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 1rem;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
    font-weight: bold;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    color: #1d1d1d;
    text-align: left;


}

figcaption {
    display: block;
    margin-left: 0.5em;
    font-weight: 500;
    font-style: italic;
    font-size: 1.1em;
    text-align: center;
}

img {
    width: 100%;
    flex-grow: 1;
    display: flex;
    /*    margin: 10px;*/
}

/****************************  Menu  ****************************/

/*navigation*/

header nav a:link {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

/* visited link */

header nav a:visited {
    color: black;
}

/* Hover */
header nav a:hover {
    color: rgba(221, 116, 242, 0.55);
}

/* selected link */
header nav a:active {
    color: white;
}

header {
    background: rgba(246, 201, 255, 0.56);
    width: 100%;
    height: 100px;
    top: 0vw;
}

header nav {
    margin: 1rem 1.5rem;
    padding-top: 0.5rem;
    display: inline-block;
    height: 100px;
    width: 100%;


}

header nav a {
    font-size: 2rem;
    color: black;
    font-family: 'oswald', sans-serif;
    margin: 0.25rem 0;
    padding: 0.25rem 0;
    text-decoration: none;
    align-items: flex-end;
    top: 0vw;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    padding: 0;

}

#menuknap {
    display: inline-block;
    font-size: 2.5rem;
    top: 1vw;
    color: black;
}

/*navigation slut*/

/*BURGER MENU*/


.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}


#menu {
    list-style-type: none;
    line-height: 2;
    transition: transform .3s;
    transform-origin: top left;
    font-family: sans-serif;
    background-color: rgba(246, 201, 255, 0.81);
    position: absolute;
    height: 150px;
    z-index: 10;
    padding: 5px;



}

#menu a {
    display: block;
    /*THIS MAKES THE MENU VERTICAL*/
}


@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}


@media only screen and (min-width: 760px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li a {
        display: inline-block;
    }
}

/****************************  SLUT Menu  ****************************/

/*******FORIDE******/

/*Illustraiton*/

#splash {
    background-image: url(billeder/forside_splash.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-width: none;
    background-position: 27%;
}



/******PORTFOLIO*******/

#portfolio .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}



/***Bokse med hover***/

#portfolio .box2 {
    flex-basis: 450px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f6c9ff;
    position: relative;
    padding: 10px;
}

#portfolio .img {
    width: 100%;
    flex-grow: 0.5;
    display: flex;
}




.overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(245, 201, 255, 0.61);
}


.box2:hover .overlay {
    opacity: 1;
}

.text {
    font-family: sans-serif;
    position: absolute;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/*FÆLLES INDSTILLINGER FOR UNDERSIDER*/

#indhold .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

#indhold img {
    width: 100%;
    flex-grow: 1;
    display: flex;
    margin: 15px;
}


.col_wide {
    flex-basis: 300px;
    flex-grow: 0.5;
    background-color: rgba(253, 202, 229, 0.69);
    padding: 25px;

}

.col_wide a {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;

}

#indhold a {
    line-height: 5;
}


@media only screen and (min-width: 700px) {

    .col_wide {
        margin: 2;
        max-width: 800px;
        align-content: center;

    }

}

/***************CV ELLER OM MIG SIDE*****************/

#cv .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

/*BOKS MED BILLEDE OG INFO */

#cv .box1 {
    flex-basis: 200px;
    flex-grow: 0.5;
    background-color: white;
    padding: 20px;
    margin: 10px;
    margin-left: 100px;

    box-shadow: 0 4px 8px 0 rgba(246, 201, 255, 0.98), 0 6px 20px 0 rgba(246, 201, 255, 0.97);

}

/*CLASS HVOR TEKST OG IKONER BEFINDER SIG*/

.linje1 {
    display: flex;
    margin: 10px;

}

/*IKONER*/

.linje1 img {
    width: 2vw;
    height: 2vw;
    margin: 2px;
    flex-grow: 0;
    margin-left: 0.5em;


}

/*SKRIFTEN*/

.linje1 p {
    font-weight: bold;
    font-size: 1rem;
    color: #f6c9ff;
    margin: 0 0 0 0.6em;
    flex-grow: 1;

}

/*BOKS MED UDDANNELSE OG ERFARING*/

.box2 {
    background-color: rgba(246, 201, 255, 0.52);
    flex-basis: 300px;
    flex-grow: 3;
    margin: 10px;


}

/*SPALTER*/

.col {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 15px;
}
